body {
    background: black;
    color: #FFD100;
    font-family: 'Nunito';
    display: flex;
    justify-content: flex-end;
}

.stat-list__heading-label {
    text-decoration: none;
}

.stat-list__heading-label:visited {
    color: #FFD100;
}

.stat-list__table {
    background: rgb(63, 63, 63);
}

.stat-list {
    flex-grow: 4;
    color: #FFD100;
}

.stat-list__input {
    text-align: center;
    border-color: #FFD100;
    width: 50px;
    height: 40px;
    color: #FFD100;
    background-color: rgb(24,24,24);
}

.stat-list__difference-label {
    color: rgb(38, 182, 12);
}

.buff-list {
    flex-grow: 1;
}