h1= "You've reached the create Buffs page."

form(method="POST" action='/rest/buffs')
    label(for="name") Buff Name:
    input(type="text", placeholder="Buff Name" name="name")
    
    br

    label(for="rank") Buff Rank:
    input(type="text", placeholder="Buff Rank" name="rank")

    br

    label(for="buff_category")
    select(name="buff_category")
        each buff_category in buff_categories
            option(value=buff_category._id) #{ buff_category.name }
    
    button(type="Submit") Create